<div class="container">
  <h2>Validación del formulario basado en la vista</h2>

  <form (ngSubmit)="enviar()" #myform = "ngForm">

    <legend>Datos Personales</legend>
      <p>
        <!--Etiqueta / Campo "Mombre"-->						
        <label for="firstname">Nombre</label>
        <input type="text" id="firstname" name="firstname" 
          #firstnameState = "ngModel"
          [(ngModel)]="user.nombre" minlength="3" required>
      </p>
      
      <div [hidden]="firstnameState.valid || firstnameState.untouched ">
        <div class="errores" 
          [hidden]="!firstnameState.errors?.required">
          El nombre es obligatorio</div>
        <div class="errores" 
          [hidden] = "!firstnameState.errors?.minlength">
          El nombre debe tener un mínimo de 3 caracteres
        </div>
      </div>

      <p>
        <!--Etiqueta / Campo "Apellidos"-->
        <label for="lastname">Apellidos</label>
        <input type="text" id="lastname" name="lastname"
          #lastnameState = "ngModel" 
          [(ngModel)]="user.apellidos" required>
      </p>
      
        <div class="errores" [hidden]="lastnameState.untouched || lastnameState.valid">
            <p>Es obligatorio escribir el apellido</p>
        </div>
      
      <p>
        <!--Etiqueta / Campo "Telefono"-->
        <label for="phoneNumber">Teléfono</label>
        <input type="text" id="phoneNumber" name="phoneNumber" 
          #phoneState = "ngModel"
          [(ngModel)]="user.telefono" required pattern="^\d{9}$">  
      </p>	

      <div class="errores"  
      [hidden]="phoneState.valid || phoneState.untouched">
      El telefono es obligatorio y debe tener 9 dígitos 
    </div>
      
      <!--Radio-Buttos-->
      <legend>Selecciona una Impresora</legend>
  

       <div *ngFor="let impresora of aImpresoras">
          <input type="radio" 
              name ="printer" [(ngModel)]="impresoraSelect" [value]="impresora" 
              (change)="mostrarFinal=true">
          <label>{{impresora.nombre}}</label>
      </div>

  <h2>Seleción de opciones</h2>
  
      <!--Checkbox-->   
      <p>
          <input id="tono" type="checkbox" [(ngModel)]="isClaro" name="tono"
              [disabled]="!impresoraSeleccionada" > 
          <label for="tono">Tono claro</label>	
  
          <input id="color" type="checkbox" [(ngModel)]="isColor" name="color"
              [disabled]="!impresoraSeleccionada"
              (change)="avisarPrint()">
          <label for="color">Imprimir en colores</label><br>
      </p>
      
      <!--Select/options "--> 
     <p>
          <label for="select">Departamento </label>
          <select id="select" name="select"
            [(ngModel)]="dptoSelect" 
            (ngModelChange)="avisarDepartamento()"> 
              <option *ngFor="let departamento of aDepartamentos"
                  [ngValue]="departamento">
                  {{departamento.nombre}}
              </option>          
          </select>
      </p>
     
        <!--Botones "Enviar" y "Borrar"-->
        <p>
          <label for=""></label>
          <input type="submit" id="enviar" name="enviar" value="Enviar"
          [disabled] ="!myform.valid">
          <label for=""></label>			
          <input type="button" id="borrar" name="borrar" 
          value="Borrar" (click)="borrar()"
          [disabled]="myform.pristine">
        </p>
  </form>
  




</div>

